html{
    background-color: #0b1622!important;
}

.bg-main-color{
    background-color: #0b1622!important;
}
.color-main-color{
    color: #96a6ba!important;
}
.color-logo{
    color: #02a9ff!important;
}
.bg-logo{
    background-color:#02a9ff!important;
}
